---
import OpenLink from "./openLink.astro";


export interface Props{
    id: string;
    name: string;
    serviceurl: string;
    description?: string;
    icon: string;
}
const { name, serviceurl, description, icon } = Astro.props;
---



<span>
    <!-- <img width="48px" height="48px" src={icon} alt={`${name} icon`}></img> -->
    <h4>{name}</h4>
    <OpenLink
        id={`${name.toLowerCase()}-link`}
        name={name}
        serviceurl={serviceurl}
    />
</span>


<style>
    span{
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.3s ease;
    }
</style>