---
interface Props {
    href: string;
    src: string;
    alt?: string;
    label?: string;
    target?: string;
    rel?: string;
}

const { href, src, alt = '', label = '', target = '_self', rel = 'noopener noreferrer' } =
    Astro.props as Props;
const isSvg = typeof src === 'string' && src.toLowerCase().endsWith('.svg');
---

<a class="link-action" href={href} target={target} rel={rel}>
    {isSvg ? (
        <span
            class="link-action__svg"
            role="img"
            aria-label={alt}
            style={`--svg-url: url('${src}')`}>
        </span>
    ) : (
        <img class="link-action__img" src={src} alt={alt} />
    )}
    {label && <span class="link-action__label">{label}</span>}
</a>

<style>
    .link-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        /* background-color: red; */

    }

    .link-action__img {
        display: block;
        max-width: 4rem;
        height: auto;
    }

    .link-action__svg{
        display: block;
        width: 4rem;
        height: 4rem;
        background-color: var(--logo-color, currentColor);
        -webkit-mask: var(--svg-url) no-repeat center/contain;
        mask: var(--svg-url) no-repeat center/contain;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
    }

    .link-action__label {
        margin-top: 0.25rem;
        margin-bottom: 0rem;
        margin-left:0;
        margin-right:0;
        text-align: center;
        font-size: 1.5rem;
        color: inherit;
    }
    a{
        padding: 1rem;
    }
</style>