---
export interface Props {
	title: string;
	description: string;
	image: string;
	url: string;
	favico: string;
}

const { title, description, image, url, favico } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favico} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name="description" content={description} />

		<!-- Google / Search Engine Tags -->
		<meta itemprop="name" content={title} />
		<meta itemprop="description" content={description} />
		<meta itemprop="image" content={image} />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"); */
	/* @import url("https://cdn.jsdelivr.net/gh/ekmas/cs16.css@main/css/cs16.min.css"); https://github.com/ekmas/cs16.css */
	@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
	:root {
		overflow: hidden;
		/* color-scheme: dark light; */
		color-scheme: dark;
		/*  https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme#syntax */

		/* https://oklch.fyi/color-palettes/olive-garden */		
		--color-1: oklch(0.24 0.03 115);
		--color-2: oklch(0.45 0.06 110);
		--color-3: oklch(0.68 0.07 105);
		--color-4: oklch(0.85 0.03 95);
		--color-5: oklch(0.72 0.11 65);
		--color-6: oklch(0.57 0.13 50);


		/* Lightmode contender */
		/* --color-1: oklch(0.95 0.026 259.597);
		--color-2: oklch(0.803 0.108 259.597);
		--color-3: oklch(0.657 0.198 259.597);
		--color-4: oklch(0.51 0.257 259.597);
		--color-5: oklch(0.364 0.183 259.597);
		--color-6: oklch(0.217 0.109 259.597); */


		/* https://oklch.fyi/color-palettes/midnight-blue */
		/* --color-1: oklch(0.25 0.08 250);
		--color-2: oklch(0.3 0.1 255);
		--color-3: oklch(0.65 0.12 280);
		--color-4: oklch(0.4 0.14 265);
		--color-5: oklch(0.45 0.15 270);
		--color-6: oklch(0.5 0.16 273);
		--color-7: oklch(0.55 0.15 275);
		--color-8: oklch(0.65 0.12 280); */

		
	}
	html {
		font-family: Caveat, cursive;
		font-size: 16px;
		/* font-family: "Open Sans", sans-serif; */
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.hidden{
		display: none !important;
	}
	a{
		color: inherit;
		text-decoration: none;
		transition: .25s;
	}
	a:hover{
		text-decoration: underline;
		color: var(--color-5);
		transition: .25s;
	}


	
	@media (prefers-color-scheme: dark) {
		:root{
			--bg-color: var(--color-1);
			/* create a translucent version of --color-2 */
			--container-bg-color: color-mix(in srgb, var(--color-2) 25%, transparent);
			--header-color: var(--color-3);
			--text-color: var(--color-4);
			--logo-color: var(--color-4);
		}
		
		body {
			background-color: var(--bg-color);
			color: var(--text-color);
		}
	}
	/* @media (prefers-color-scheme: light) {
		body {
			background-color: var(--color-4);
			color: var(--color-1);
		}
	} */


</style>
