---
import Navbar from "./Navbar.astro";

export interface Props {
  title: string;
  description: string;
  image: string;
  url: string;
  favico: string;
}

const { title, description, image, url, favico } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favico} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="description" content={description} />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />
    <meta itemprop="image" content={image} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
  </head>
  <body>
    <div class="bg-blur">
      <div class="background">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <Navbar />
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  :root {
    color-scheme: only dark;
    /*  https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme#syntax */
    --bg-color: #252a3d;
    --highlight: #5a658f;
    --nav-highlight: #ffffff5d;
    --nav-color: #888888;
    --bg-grad-1: #181a24;
    --bg-grad-2: #131924;
  }
  html {
    font-family: "Open Sans", sans-serif;
    /* font-family: "Anonymous Pro", monospace; */
    /* background-color: var(--bg-color); */
    /* background: linear-gradient(to right, var(--bg-grad-1), var(--bg-grad-2)); */
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>

<style>
  .background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #13151a, #0c1017);
    display: flex;
    flex-grow: 1;
    z-index: -1;
  }

  .background div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(200vw);
    opacity: 0.4;
  }

  .background div:nth-child(1) {
    background: linear-gradient(132deg, #1fcfc3 0%, #1f91cf 100%);
    width: 65%;
    padding-top: 65%;
    left: 65%;
    top: 15%;
    transform: translateX(-50%) translateY(-50%);
  }

  .background div:nth-child(2) {
    background: linear-gradient(132deg, #0800ff 0%, #e32be3 100%);
    width: 55%;
    padding-top: 55%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .background div:nth-child(3) {
    background: linear-gradient(132deg, #1fcfc3 0%, #1f91cf 100%);
    width: 45%;
    padding-top: 45%;
    left: 80%;
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
  }
</style>
